<!-- Top Navigation Include -->
<div data-ng-include="'js/app/views/header.client.view.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">
                <b>A graceful shutdown has been executed on the Admin Affiliate Server</b>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Admin Affiliate Server Shutdown 
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span class="font-size-20px">
                                The admin server must be manually restarted in order to continue administrative actions.
                            </span>
                            <br/>
                            <br/>
                            <a href="#/">
                                <button class="btn btn-success">
                                    Continue
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>